# Key Learning Results

- I understand the differences between lists, dictionaries, and sets.
- I can recall scenarios in which a list/dictionary/set is the appropriate data structure.
- I feel comfortable definining, accessing, manipulating, and iterating over lists, dictionaries, and sets.
- I understand the difference between how Python stores simple and complex data.

# Lists

The first data structure we'll cover is a list. In Python, a list is an *ordered* collection of data. Other programming languages often call their implementation of this data structure an array.

To declare a list in Python, we include a name for the list, followed by the assignment operator (```=```), and the all the data we want in our list surrounded by brackets (```[``` and ```]```) and separated by commas. For example, to declare a list named ```lst``` that contains the values ```1```, ```2```, and ```3``` in that order, we would write the following:

In [1]:
lst = [1, 2, 3]

In [2]:
lst

[1, 2, 3]

Lists can contain multiple types of values in different positions.

In [3]:
lst2 = ["one", 2, 3.0]

To access a value in a list, we type the name of the list followed by the position of the value we want to access in brackets. Python is a 0-indexed programming language, which means that it starts counting the positions in a list from 0 instead of 1. So we would use the following line of code to access the first item in ```lst```:

In [4]:
lst[0]

1

And this line of code would access the second item in ```lst```:

In [5]:
lst[1]

2

We can use a similar syntax to update values in our list. For example, if we want to make the values in ```lst2``` the same as the values in ```lst```, we could first update the first value in ```lst2``` like this:

In [6]:
lst2[0] = 1

And then update the third value in ```lst2``` like this:

In [7]:
lst2[2] = 3

Now, we can check that ```lst``` and ```lst2``` are exactly alike.

In [8]:
lst

[1, 2, 3]

In [9]:
lst2

[1, 2, 3]

If we wanted to add an additional element to ```lst``` or ```lst2```, there are two different methods we could use. If we wanted to add the element to the end of ```lst```, we would use ```.append(..)```. Adding the number ```4``` to the end of ```lst``` looks like this:

In [10]:
lst.append(4)

In [11]:
lst

[1, 2, 3, 4]

Alternatively, if we wanted to add a value in a specific location, we would use ```.insert(..)```. Adding the number ```2.5``` between ```2``` and ```3``` in ```lst2``` would look like this:

In [12]:
lst2.insert(2, 2.5)

In [13]:
lst2

[1, 2, 2.5, 3]

Notice that the first argument we pass to ```.insert(..)``` is the position we would like our new value to be in after it is added, and the second argument is the value that we would like to add.  

Furthermore, there are thre ways that we can remove a value from a list. The first, ```.pop(..)```, is useful if we'd like to use the value for something else. This method can be used to remove the value ```3``` from ```lst``` by passing its position in the list to ```.pop(..)```:

In [14]:
a = lst.pop(2)

In [15]:
a

3

In [16]:
lst

[1, 2, 4]

As we can see, the value of ```a``` is now ```3```, which was formerly in the third positition (remember ```lst``` is 0-indexed). We can also used ```del``` if we have no further use for the value. To remove the value 2.5 from ```lst2```, we would do the following:

In [17]:
del lst2[2]

In [18]:
lst2

[1, 2, 3]

Finally, if we'd like to remove a value but don't know its position, we can use ```.remove(..)```. To remove the value 2 from the previous list, we would pass the value 2 as an argument to ```.remove(..)``` as follows:

In [19]:
lst2.remove(2)

In [20]:
lst2

[1, 3]

If the same value appears in a list more than once, then ```.remove(..)``` will remove the first instance of that value, starting from position 0.

## Useful functions

There are also a number of useful functions that we can apply to a list. These include:
-  ```.sort(..)```, which modifies a list so that its values are in ascending order
- ```sum(..)```, which calculates the sum of a list containing only numeric types
- ```min(..)```, which returns the smallest value in a list (as determined by the < operator)
- ```max(..)```, which returns the largest value in a list (as determined by the > operator)
- ```len(..)```, which returns the length of a list

Below are some examples of these functions in use:

In [21]:
new_list = [43, 7, 1, -98, 189]
new_list

[43, 7, 1, -98, 189]

In [22]:
new_list.sort()
new_list

[-98, 1, 7, 43, 189]

In [23]:
sum(new_list)

142

In [24]:
min(new_list)

-98

In [25]:
max(new_list)

189

In [26]:
len(new_list)

5

Notice in the above examples that ```.sort(..)``` changes the list itself instead of returning a new, sorted list.  

## Iterating over lists

Now that we've covered lists more, let's briefly return to for loops. The syntax for iterating over all the values in a list is incredibly simple:

```
for <variable_name> in <list name>:
    <do something>
```

For example, let's define ```lst``` to be all the letters from ```a``` to ```f``` and print out each letter with a for loop.

In [27]:
lst = ['a', 'b', 'c', 'd', 'e', 'f']
for letter in lst:
    print(letter)

a
b
c
d
e
f

If we need to peform an action for every item in a list but don't actually need the values stored at each location, we can also use this syntax:

```
for <variable_name> in range(len(<list name>):
    <do something>
```

For example, let's print out the statement 'Hello!' for every letter in ```lst```.

In [28]:
for i in range(len(lst)):
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

Finally, if we need to perform an action for every item in a list and need both the position and the value, we can use the following syntax, which employs the enumerate function:

```
for <position variable name>, <value variable name> in enumerate(<list name>):
    <do something>
```

This syntax can be particularly useful if the action you're performing depends on the position of the value in ```lst```. For example, let's print out each letter in our list, followed by whether its position is even or odd:

In [29]:
for pos, letter in enumerate(lst):
    if pos % 2 == 0:
        even_or_odd = 'even'
    else:
        even_or_odd = 'odd'
    print('{} - {}'.format(letter, even_or_odd))

a - even
b - odd
c - even
d - odd
e - even
f - odd

## Storage in memory

The way Python stores lists in memory is slightly different than how it store simple variable types, suchs as integers or strings. While this difference may seem like a technical aside, it actually has important consequences for working with lists.  

When we define a simple variable, Python stores the value of the variable at a certain point in memory. For example, the following line of code yields the following result in memory:

In [30]:
my_num = 32.3

![Figure 1](lesson2_res/figure_1.png)


Then, if we set another variabe, ```my_num2``` equal to ```my_num```, this would be the result in memory:

In [31]:
my_num2 = my_num

![Figure 2](lesson2_res/figure_2.png)

Python store the same value as ```my_num``` in a new location associated with ```my_num2```. Since these are separate locations, we can modify ```my_num2``` without modifying ```my_num``` or vice versa. For example:

In [32]:
my_num = 43.7

![Figure 3](lesson2_res/figure_3.png)

In [33]:
my_num2 = 25.2

![Figure 4](lesson2_res/figure_4.png)

With complex data structures designed to store a collection of values (as opposed to a single value), Python stores them somewhat differently. If we define a list, Python acutally stores the list in a different part of memory called the heap and places a reference to that location in the heap in the direct memory location associated with the list. Below is what definining a list looks like in memory.

In [34]:
my_list = ['abc', 123, 'do-re-mi']

![Figure 5](lesson2_res/figure_5.png)

Now, if we set another another list ```my_list2``` equal to ```my_list```, Python copies the reference to the heap location associated with ```my_list```. It does NOT actually create a copy of the list.

In [35]:
my_list2 = my_list

![Figure 6](lesson2_res/figure_6.png)

As a result, any changes that we make to ```my_list2``` will also affect ```my_list``` and vice versa because their references point to the same object in the heap. For example:

In [36]:
my_list2[2] = 'fa-sol-la'

![Figure 7](lesson2_res/figure_7.png)

In [37]:
my_list.remove('abc')

![Figure 8](lesson2_res/figure_8.png)

To copy the values of ```my_list``` into a new location in the heap, we would either need to write out all the values by hand or use the ```.copy()``` function.

In [38]:
my_list3 = [123, "fa-sol-la"]
my_list4 = my_list.copy()

![Figure 9](lesson2_res/figure_9.png)

We can now edit ```my_list3``` or ```my_list4``` without affecting any other list.

In [39]:
my_list3.pop(1)

'fa-sol-la'

![Figure 10](lesson2_res/figure_10.png)

In [40]:
my_list4[0] = [456]

![Figure 11](lesson2_res/figure_11.png)

To check whether two lists are referencing the same location in heap memory, we can use the ```is``` operator. From above, we know that ```my_list``` and ```my_list2``` reference the same location, so the following line will evaluate to True.

In [41]:
my_list is my_list2

True

But if we copy the values of ```my_list``` into ```my_list5``` using the ```.copy()``` function, then the expression  
```my_list is my_list5```

will evaluate to fales since the ```.copy()``` function creates a new object in heap memory.

In [42]:
my_list5 = my_list.copy()
my_list is my_list5

False

The equality operator, ```==```, which we saw in the previous lesson, does not check wheter two lists reference the same location in memory and instead goes though each list position by position to see wheter the values at each position are the same.

In [43]:
my_list

[123, 'fa-sol-la']

In [44]:
my_list2

[123, 'fa-sol-la']

In [45]:
my_list5

[123, 'fa-sol-la']

In [46]:
my_list == my_list2

True

In [47]:
my_list == my_list5

True

In [48]:
my_list3

[123]

In [49]:
my_list == my_list3

False

## Slicing

Lastly, it's also possible to access multiple values of a list at one time through a feature called slicing. First, let's define a list with the numbers 1 through 10.

In [50]:
lst = list(range(1,11))

In [51]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

The syntax for creating a slice is:

```
<list name>[<first position>, <last position plus one>, <step size (optional)>]
```

For example, to access the first five values in lst:

In [52]:
lst[0:5]

[1, 2, 3, 4, 5]

To access every third value from the first first six values in lst:

In [53]:
lst[0:6:3]

[1, 4]

We can also use a negative value for our step size to access our list in reverse. For example, to get the last 5 values from our list in reverse order:

In [54]:
lst[len(lst): len(lst) - 6: -1]

[10, 9, 8, 7, 6]

If we assign a new list to be equal to a slice of an existing list, then this creates a new object in the heap.

In [55]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
slc = lst[2:5]
slc

[3, 4, 5]

In [57]:
slc[0] = 'changed value'

In [58]:
slc

['changed value', 4, 5]

In [59]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

We can tell that ```slc``` is a separate object in the heap because changing a value in ```slc``` didn't affect ```lst```.

We can also use slicing to quickly change multiple values in our original list. For example to change the values in positions 3 through 5, we could do the following:

In [60]:
lst[3:5] = ['a', 'b', 'c']

In [61]:
lst

[1, 2, 3, 'a', 'b', 'c', 6, 7, 8, 9, 10]

## List exercise
(adapted from justlearnpython.com)

Given a list, ```lst```, complete the following tasks programatically.

a) Create separate lists of strings and numbers
 
b) Sort the strings list in ascending order
 
c) Select the last three strings
 
d) Sort the number list from lowest to highest
 
e) Select the four smallest numbers

In [62]:
lst = ['election', 2020, 2016, 'ballot', 'county clerk', 'voting machine', 1988, 1856, 'election judge', 'diebold', 1932]

In [63]:
#your code for part a

In [64]:
#your code for part b

In [65]:
#your code for part c

In [66]:
#your code for part d

In [67]:
#your code for part e

# Dictionaries

Similar to lists, Python dictionaries are collections of values. Unlike lists, however, dictionaries are unordered, which means that the order in which we input values to a dictionary won't necessarily be preserved. Furthermore, dictionaries use keys to identify values in the collection as opposed to positions. What are keys? Keys are simply other values.

To define a list, we use the following syntax:

```
my_dictionary = {<key>: <value>,
                 <key>: <value>,
                 <key>: <value>,
                 ...
                 ...
                 ...
                 <key>: <value>}
```

Below, I'm going to define a list with five states and their number of electoral votes.

In [68]:
electoral_votes = {'California': 55,
                   'Texas': 38,
                   'New York': 29,
                   'Florida': 29,
                   'Illinois': 20}

You can mix data types in both the values and keys of a dictionary. For example, the dictionary below is perfectly valid:

In [69]:
my_dictionary = {3: 'a',
                 2.7: 4,
                 'c': None,
                 False: 11.01}

We can also have the values be more complex data structures, such as lists or other dictionaries. For example, the following dictionary gives the presidential candidate that won each of the five states from earlier in the past three elections.

In [70]:
presidential_winners = {'California': ['Obama', 'Obama', 'Clinton'],
                        'Texas': ['McCain', 'Romney', 'Trump'],
                        'New York': ['Obama', 'Obama', 'Clinton'],
                        'Florida': ['Obama', 'Obama', 'Trump'],
                        'Illinois': ['Obama', 'Obama', 'Clinton']}

And this dictionary gives the number of electoral votes a candidate had in 2016 and which candidate won the state.

In [71]:
results_2016 = {'California': {'electoral_votes': 55,
                               'winner': 'Clinton'},
                'Texas': {'electoral_votes': 38,
                          'winner': 'Trump'},
                'New York': {'electoral_votes': 29,
                             'winner': 'Clinton'},
                'Florida': {'electoral_votes': 29,
                            'winner': 'Trump'},
                'Illinois': {'electoral_votes': 20,
                             'winner': 'Clinton'}}

To access a value in a dictionary, we use a similar syntax to accessing a value in a list, but instead of specifying a position, we specify a key. For example, to retrieve the number of electoral votes assigned to New York:

In [72]:
electoral_votes['New York']

29

Or to get the results of the 2016 election in Texas:

In [73]:
results_2016['Texas']

{'electoral_votes': 38, 'winner': 'Trump'}

In the case where we have nested dictionaries or lists (or other complex data structures), we can also directly access elements of the inner data strucutres. For example, to get the winner of Florida in the 2012 presidential election:

In [74]:
presidential_winners['Florida'][1]

'Obama'

Modifying the value associated with a given key in a dictionary is also quite similar to to modifying the value assoicate with a given position in a list. It's projected that before 2024, Illinois will lose one electoral vote, New York will lose two electoral votes, Texas will gain three electoral votes, and Florida will gain two electoral votes . To reflect these changes, we would do the following:

In [120]:
electoral_votes['Illinois'] = electoral_votes['Illinois'] - 1
electoral_votes['New York'] = electoral_votes['New York'] - 2
electoral_votes['Texas'] = electoral_votes['Texas'] + 3
electoral_votes['Florida'] = electoral_votes['Florida'] + 2

electoral_votes

KeyError: 'Illinois'

Adding new values to our dictionary is simple. We simply need to specify the dictionary name, the new key, and the new value in the following syntax:

```
<dictionary name>[<new key>] = <new value>
```

Pennsylvania is also projected to have 19 electoral votes in 2024, so let's add that state to the dictionary.

In [76]:
electoral_votes['Pennsylvania'] = 19

In [77]:
electoral_votes

{'California': 55,
 'Texas': 41,
 'New York': 28,
 'Florida': 31,
 'Illinois': 19,
 'Pennsylvania': 19}

To remove a key-value pair from a dictionary, there are two available syntaxes, both similar to removing a value from a list.  

If we don't need the value for anything else, then we can use ```del```. Let's remove Illinois from our dictionary using ```del```.

In [78]:
del electoral_votes['Illinois']

In [79]:
electoral_votes

{'California': 55,
 'Texas': 41,
 'New York': 28,
 'Florida': 31,
 'Pennsylvania': 19}

If we do need the value for something later on, the we can use ```.pop(..)```. Let's remove Pennsylvania from our dictionary using ```.pop(..)``` but store its current value in a variable called ```pa_2024```.

In [80]:
pa_2024 = electoral_votes.pop('Pennsylvania')

In [81]:
pa_2024

19

In [82]:
electoral_votes

{'California': 55, 'Texas': 41, 'New York': 28, 'Florida': 31}

If we ever try and access a key that doesn't exist in the dictionary, Python will throw an error. For example, let's try to get how many electoral votes Alabama has:

In [83]:
electoral_votes['Alabama']

KeyError: 'Alabama'

This issue can cause a real problem if we ever have a dictionary where we're unsure of which keys are/aren't included. Python provides two solutions. First, we can check whether a key is in a dictionary using the ```in``` operator. This operator will return True if the specified value is a key in the dictionary and False if it is not.

In [84]:
'Alabama' in electoral_votes

False

In [85]:
'Texas' in electoral_votes

True

Python also provides the ```.get(..)``` method. To use the ```.get(...)``` method, you first specify the key you want to attempt to get the value of and then a default value to return if the key doesn't exist in the dictionary.  

Let's attempt to get the number of electoral votes for a few states and return "Unknown" if the state isn't in the dictionary.

In [86]:
electoral_votes.get("Alabama", "Unknown")

'Unknown'

In [87]:
electoral_votes.get("California", "Unknown")

55

In [88]:
electoral_votes.get('Arkansas', "Unknown")

'Unknown'

## Iteration

There are three ways to iterate over a dictionary, each providing us with different amounts of information.

The first way of iterating over a dictionary, ```.keys()```, only shows the keys included in a dictionary. Its syntax is as follows:

```
for <variable name> in <dictionary name>.keys():
    <do something>
```

Let's print out the names of all the states included in the elecoral votes dictionary.

In [89]:
for state in electoral_votes.keys():
    print(state)

California
Texas
New York
Florida

The second way of iterating over a dictionary, ```.values()```, only shows the value associated with each key in the dictionary. Its syntax is as follows:

```
for <variable name> in <dictionary name>.values():
    <do something>
```

Let's find the maximum number of electoral votes among all the states included in our dictionary.

In [90]:
max_so_far = -1
for ev in electoral_votes.values():
    if ev > max_so_far:
        max_so_far = ev
print(max_so_far)

55

The final way of iterating over a dictionary, ```.items()```, shows both each key in the dictionary and its associated value. Its syntax is as follows:

```
for <key variable name>, <item variable name> in <dictionary name>.items():
    <do something>
```

Let's print out all the states in our dictionary plus the number of electoral votes they are allocated.

In [91]:
for state, votes in electoral_votes.items():
    print("{} - {} electoral votes".format(state, votes))

California - 55 electoral votes
Texas - 41 electoral votes
New York - 28 electoral votes
Florida - 31 electoral votes

## Storage in memory

The way dictionaries are stored in memory is analogous to how lists are stored in memory (i.e. with a reference to a location in heap memory). As a result, simply setting one dictionary equal to another does not actually create a new dictionary. To do that, we need to use ```.copy()```. This means of storage can become even more complicated when we have nested complex data types, such as lists or dictionaries inside of lists or dictionaries. Oftentimes, drawing a picutre of the references can help make these complicated dependencies easier to grasp.  

As a result, the ```is``` and ```==``` equality operators function the same way for dictionares as they do for lists. The ```is``` opeartor returns whether two dictionaries references the same object in heap memory, whereas the ```==``` operator returns whether the two dictionaries (a) have the same keys, and (b) have the same value associated with each key.

## Dictionaries Exercise: Presidential What-If

Provided below are four dictionaries. Their contents are as follows:
- ```obama_won```: each key is the name of a state and each value is a boolean specifying whether or not Barack Obama won the state in 2012
- ```electoral_votes1992```: each key is the name of a state and each value is an integer specifying the number of electoral votes allotted to a state in the 1992, 1996, and 2000 presidential elections
- ```electoral_votes2004```: each key is the name of a state and each value is an integer specifying the number of electoral votes allotted to a state in the 2004 and 2008 presidential elections
- ```electoral_votes2012```: each key is the name of a state and each value is an integer specifying the number of electoral votes allotted to a state in the 2012, 2016, and 2020 presidential elections

Your job is determine the number of electoral votes Barack Obama and Mitt Romney would have won under each distribution of electoral votes. You may assume that Mitt Romney won any state that Barack Obama did not, and you may assume that Maine and Nebraska award their electoral votes in a winner-take-all fashion as opposed to using the congressional district method. Furthermore, you may also assume that there are no faithless electors.

In the end, your program should print out two dictionaries. One should contain the number of electioral votes Obama would have recieved in 1992, 2004, and 2012, and the other should contain the number of electioral votes Romney would have recieved in 1992, 2004, and 2012.

As an extension, you can also consider rewriting your program so that it yields one dictionary with nested dictionaries as values.

In [136]:
obama_won = {'Alabama': False,
  'Alaska': False,
  'Arizona': False,
  'Arkansas': False,
  'California': True,
  'Colorado': True,
  'Connecticut': True,
  'Delaware': True,
  'D.C.': True,
  'Florida': True,
  'Georgia': False,
  'Hawaii': True,
  'Idaho': False,
  'Illinois': True,
  'Indiana': False,
  'Iowa': True,
  'Kansas': False,
  'Kentucky': False,
  'Louisiana': False,
  'Maine': True,
  'Maryland': True,
  'Massachusetts': True,
  'Michigan': True,
  'Minnesota': True,
  'Mississippi': False,
  'Missouri': False,
  'Montana': False,
  'Nebraska': False,
  'Nevada': True,
  'New Hampshire': True,
  'New Jersey': True,
  'New Mexico': True,
  'New York': True,
  'North Carolina': False,
  'North Dakota': False,
  'Ohio': True,
  'Oklahoma': False,
  'Oregon': True,
  'Pennsylvania': True,
  'Rhode Island': True,
  'South Carolina': False,
  'South Dakota': False,
  'Tennessee': False,
  'Texas': False,
  'Utah': False,
  'Vermont': True,
  'Virginia': False,
  'Washington': True,
  'West Virginia': False,
  'Wisconsin': True,
  'Wyoming': False}

electoral_votes2012 = {'California': 55,
  'Texas': 38,
  'Florida': 29,
  'New York': 29,
  'Illinois': 20,
  'Pennsylvania': 20,
  'Ohio': 18,
  'Georgia': 16,
  'Michigan': 16,
  'North Carolina': 15,
  'New Jersey': 14,
  'Virginia': 13,
  'Washington': 12,
  'Arizona': 11,
  'Indiana': 11,
  'Massachusetts': 11,
  'Tennessee': 11,
  'Maryland': 10,
  'Minnesota': 10,
  'Missouri': 10,
  'Wisconsin': 10,
  'Alabama': 9,
  'Colorado': 9,
  'South Carolina': 9,
  'Kentucky': 8,
  'Louisiana': 8,
  'Connecticut': 7,
  'Oklahoma': 7,
  'Oregon': 7,
  'Arkansas': 6,
  'Iowa': 6,
  'Kansas': 6,
  'Mississippi': 6,
  'Nevada': 6,
  'Utah': 6,
  'Nebraska': 5,
  'New Mexico': 5,
  'West Virginia': 5,
  'Hawaii': 4,
  'Idaho': 4,
  'Maine': 4,
  'New Hampshire': 4,
  'Rhode Island': 4,
  'Alaska': 3,
  'D.C.': 3,
  'Delaware': 3,
  'Montana': 3,
  'North Dakota': 3,
  'South Dakota': 3,
  'Vermont': 3,
  'Wyoming': 3}

electoral_votes2004 = {'California': 55,
  'Texas': 34,
  'Florida': 27,
  'New York': 31,
  'Illinois': 21,
  'Pennsylvania': 21,
  'Ohio': 20,
  'Georgia': 15,
  'Michigan': 17,
  'North Carolina': 15,
  'New Jersey': 15,
  'Virginia': 13,
  'Washington': 11,
  'Arizona': 10,
  'Indiana': 11,
  'Massachusetts': 12,
  'Tennessee': 11,
  'Maryland': 10,
  'Minnesota': 10,
  'Missouri': 11,
  'Wisconsin': 10,
  'Alabama': 9,
  'Colorado': 9,
  'South Carolina': 8,
  'Kentucky': 8,
  'Louisiana': 9,
  'Connecticut': 7,
  'Oklahoma': 7,
  'Oregon': 7,
  'Arkansas': 6,
  'Iowa': 7,
  'Kansas': 6,
  'Mississippi': 6,
  'Nevada': 5,
  'Utah': 5,
  'Nebraska': 5,
  'New Mexico': 5,
  'West Virginia': 5,
  'Hawaii': 4,
  'Idaho': 4,
  'Maine': 4,
  'New Hampshire': 4,
  'Rhode Island': 4,
  'Alaska': 3,
  'D.C.': 3,
  'Delaware': 3,
  'Montana': 3,
  'North Dakota': 3,
  'South Dakota': 3,
  'Vermont': 3,
  'Wyoming': 3}

electoral_votes1992 = {'California': 54,
  'Texas': 32,
  'Florida': 25,
  'New York': 33,
  'Illinois': 22,
  'Pennsylvania': 23,
  'Ohio': 21,
  'Georgia': 13,
  'Michigan': 18,
  'North Carolina': 14,
  'New Jersey': 15,
  'Virginia': 13,
  'Washington': 11,
  'Arizona': 8,
  'Indiana': 12,
  'Massachusetts': 12,
  'Tennessee': 11,
  'Maryland': 10,
  'Minnesota': 10,
  'Missouri': 11,
  'Wisconsin': 11,
  'Alabama': 9,
  'Colorado': 8,
  'South Carolina': 8,
  'Kentucky': 8,
  'Louisiana': 9,
  'Connecticut': 8,
  'Oklahoma': 8,
  'Oregon': 7,
  'Arkansas': 6,
  'Iowa': 7,
  'Kansas': 6,
  'Mississippi': 7,
  'Nevada': 4,
  'Utah': 5,
  'Nebraska': 5,
  'New Mexico': 5,
  'West Virginia': 5,
  'Hawaii': 4,
  'Idaho': 4,
  'Maine': 4,
  'New Hampshire': 4,
  'Rhode Island': 4,
  'Alaska': 3,
  'D.C.': 3,
  'Delaware': 3,
  'Montana': 3,
  'North Dakota': 3,
  'South Dakota': 3,
  'Vermont': 3,
  'Wyoming': 3}

In [142]:
# your solution here

## Dictionaries Exercise: Electoral College Shifts

As previously mentioned, a number of states are projected to either lose or gain electoral votes before the 2024 elections. 

Provided below are two dictionaries. Their contents are as follows:
- ```electoral_votes_current```: each key is the name of a state and each value is an integer specifying the number of currently electoral votes allotted to a state
- ```electoral_votes_changes```: each key is the name of a state and each value is an integer specifying how many electoral votes that state is projected to gain or lose in 2024 (gains are represented as positive integers while losses are represented as negative integers); not all states are in this dictionary becuase not all states are projected to gain or lose electoral votes

Your job is to print out a new dictionary specifying how many electoral votes each state is projected to have in the 2024 election without changing the original dictionary.

In [94]:
electoral_votes_current = {'California': 55,
  'Texas': 38,
  'Florida': 29,
  'New York': 29,
  'Illinois': 20,
  'Pennsylvania': 20,
  'Ohio': 18,
  'Georgia': 16,
  'Michigan': 16,
  'North Carolina': 15,
  'New Jersey': 14,
  'Virginia': 13,
  'Washington': 12,
  'Arizona': 11,
  'Indiana': 11,
  'Massachusetts': 11,
  'Tennessee': 11,
  'Maryland': 10,
  'Minnesota': 10,
  'Missouri': 10,
  'Wisconsin': 10,
  'Alabama': 9,
  'Colorado': 9,
  'South Carolina': 9,
  'Kentucky': 8,
  'Louisiana': 8,
  'Connecticut': 7,
  'Oklahoma': 7,
  'Oregon': 7,
  'Arkansas': 6,
  'Iowa': 6,
  'Kansas': 6,
  'Mississippi': 6,
  'Nevada': 6,
  'Utah': 6,
  'Nebraska': 5,
  'New Mexico': 5,
  'West Virginia': 5,
  'Hawaii': 4,
  'Idaho': 4,
  'Maine': 4,
  'New Hampshire': 4,
  'Rhode Island': 4,
  'Alaska': 3,
  'D.C.': 3,
  'Delaware': 3,
  'Montana': 3,
  'North Dakota': 3,
  'South Dakota': 3,
  'Vermont': 3,
  'Wyoming': 3}

electoral_votes_changes = {"Oregon": 1,
                           "Montana": 1,
                           "Colorado": 1,
                           "Arizona": 1,
                           "North Carolina": 1,
                           "Florida": 2,
                           "Texas": 3,
                           "Minnesota": -1,
                           "Illinois": -1,
                           "Michigan": -1,
                           "Ohio": -1,
                           "Alabama": -1,
                           "West Virginia": -1,
                           "Pennsylvania": -1,
                           "Rhode Island": -1,
                           "New York": -2,
                           "New Jersey": -2}

In [144]:
# your solution here

# Sets

In Python, a set is an unordered collection of values. Unlike dictionaries or lists, items in a set are not identified by a position, a key, or any other identifier. Eliminating identifiers allows Python to automatically store the values in a way that makes it quick to see whether or not a particular value is in a set.  

Consider the following list:

In [96]:
lst = ['John', 'Jane', 'Julie', 'Jacob', 'Julien']

If we want know wheter a given name is in that list, we need to start at the first value and step though the list position by position until we either find the name or hit the end of the list (in some cases, there are quicker ways to search through lists but these require the lists meet certain conditions). With very large lists, this process can become incredibly slow.  

With a set, however, Python determines where a value should be stored in memory based on the value itself. Then, if we want to know whether a given value is in a set, all Python has to do is first determine where it would store that value then check whether that value is stored there. This is much, much faster! Instead of checking every item in a collection, Python can check a single location.  

To declare a set, we use the following syntax:

```
<set name> = {<item>, <item>, ..., <item>}
```

The following line of code declares a set with the five names from above.

In [97]:
names = {'John', 'Jane', 'Julie', 'Jacob', "Julien"}

Much like the other data strucutures we have seen so far, sets can contain values of different types.

In [98]:
my_set = {'string', 32.4, 13, None, True}

Since sets don't associate values with positions or keys, it doesn't make sense to think about accessing particular values in a set like we did with lists or dictionaries. Instead, we primarily want to think about adding, removing, and checking what values are included in a set. If we wanted to update a value in a set, we would actually want to think about removing the old value from our set then adding the new value to it.

To add a new value to a set, we use the ```.add(..)``` function. Let's add June to our list of names.

In [99]:
names.add('June')
names

{'Jacob', 'Jane', 'John', 'Julie', 'Julien', 'June'}

All the objects in a set must be distinct; this means that a Python set will not contain the same value more than once. To see what happens when we try to add a value that already exists in our list, let's try adding the name June again.

In [100]:
names.add('June')
names

{'Jacob', 'Jane', 'John', 'Julie', 'Julien', 'June'}

As you can see, Python didn't raise an exception, but the contents of our set also didn't change from before.  

To remove a value from a set, we use the ```.remove(..)``` function. Let's remove Jacob from our list of names.

In [101]:
names.remove('Jacob')
names

{'Jane', 'John', 'Julie', 'Julien', 'June'}

If we attempt to remove a value that does not exists in our set, Python will throw an error. Let's try to remove the name Jeremy from our list of names.

In [102]:
names.remove('Jeremy')

KeyError: 'Jeremy'

To check whether a particularly value is in a set, we use the ```in``` operator. This will return a boolean telling whether or not the specified value is in the set. For example, let's check whether a few different names are in our set above.

In [103]:
'Jill' in names

False

In [104]:
'John' in names

True

In [105]:
'Jerry' in names

False

## Useful operators

There are also a number of operators in Python that implement matematical set operations. These include:
- ```<set 1> | <set 2>``` which returns the union of sets 1 and 2, i.e. all the elements in set 1 or 2
- ```<set 1> & <set 2>``` which returns the intersection of sets 1 and 2, i.e. all the elements in both set 1 and set 2
- ```<set 1> ^ <set 2>``` which returns the symmetric differents of sets 1 and 2, i.e. all the elements in one of the sets but not another
-  ```<set 1> - <set 2>``` which return the different between sets 1 and 2, i.e. all the elements in set 1 but not in set 2
- ```<set 1> >= <set 2>``` which returns whether set 1 is a superset of set 2, i.e. if set 1 contains all the elements of set 2
- ```<set 1> <= <set 2>``` which returns whether set 1 is a subset of set 2, i.e. if set 2 contains all the elemtns of set 1
- ```len(<set 1>)``` which returns the number of elements in set 1 (remember that sets will not contain duplicates)

To see these in action, we're going to create two dictionaries, one with the letters a through f in it and another with the letters d through i in it.

In [106]:
a_to_f = {'a', 'b', 'c', 'd', 'e', 'f'}
d_to_i = {'d', 'e','f', 'g', 'h', 'i'}

In [107]:
union = a_to_f | d_to_i
union

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'}

In [108]:
intersection = a_to_f & d_to_i
intersection

{'d', 'e', 'f'}

In [109]:
symmetric_difference = a_to_f ^ d_to_i
symmetric_difference

{'a', 'b', 'c', 'g', 'h', 'i'}

In [110]:
one_diff_two = a_to_f - d_to_i
one_diff_two

{'a', 'b', 'c'}

In [111]:
two_diff_one = d_to_i - a_to_f
two_diff_one

{'g', 'h', 'i'}

In [112]:
one_super_two = a_to_f >= d_to_i
one_super_two

False

In [113]:
one_sub_two = a_to_f <= d_to_i
one_sub_two

False

In [114]:
n_a_to_f = len(a_to_f)
n_a_to_f

6

## Iterating over sets

Since sets only store values and don't use anything else to identify these values, there is only one way to iterate over a set. Its syntax is as follows:

```
for <variable name> in <set name>:
    <do something>
```

As an example, let's simply print out all the names in our names set from before:

In [115]:
for name in names:
    print(name)

Julien
Jane
Julie
June
John

## Storage in memory

The way sets are stored in memory is analogous to how dictionaries and lists are stored in memory (i.e. with a reference to a location in heap memory). As a result, simply setting one set equal to another does not actually create a new set. To do that, we need to use ```.copy()```.  

As a result, the ```is``` and ```==``` equality operators function the same way for sets as they do for dictionaries and lists. The ```is``` opeartor returns whether two sets reference the same object in heap memory, whereas the ```==``` operator returns whether the two sets have all the same values.

## Sets Exercise: Democratic Debate Draw

Provided below is one dictionary. Its contents are as follows:
- ```qualified_candidates```: the names of all the candidates qualified for the second set of Democratic debates in 2019

Your job is to randomly assign all the qualified candidates to debate on either the first or second night. Your program should print out two two new dictionaries, ```night_one``` and ```night_two```, each of which contains all the candidates slated to debate on the specified night. As a wrinkle, recall that no debate can contain more than ten candidates, so if ten candidates have already been assigned to one night, all the remaining candidates should be assigned to the other night.

### Hints

- A library called ```random``` has been imported to allow you to generate random numbers. Use the line of code labeled below to generate a random integer between one and two assigned to a variable named ```rand_int```. If you include this line of code in a for loop, it will generate a new random number each time through the loop.
- To create an empty dictionary with the name ```my_empty_dict```, use the following syntax ```my_empty_dict = set()```.

In [116]:
import random

In [117]:
#use this line to generate random integers between one and two
rand_int = random.randint(1, 2)

In [118]:
qualified_candidates = {"Joe Biden", "Elizabeth Warren", "Kamala Harris", "Bernie Sanders", "Pete Buttigieg", "Beto ORourke", "Cory Booker", "Amy Klobuchar", "Julin Castro", "Kirsten Gillibrand", "Jay Inslee", "Tulsi Gabbard", "Michael Bennet", "John Hickenlooper", "Bill de Blasio", "Tim Ryan", "John Delaney", "Andrew Yang", "and Marianne Williamson", "Steve Bullock"}

In [146]:
# your solution here